# ========== ENVIRONMENT ==========
.env

# ========== PYTHON ==========
__pycache__/
*.pyc


# ========== VIRTUAL ENVIRONMENTS ==========
venv/
.venv/

# ========== IDE ==========
.idea/
.vscode/

# ========== JUPYTER ==========
.ipynb_checkpoints/

# ========== LOGS ==========
logs/

# ========== GENERATED DATA ==========
data/customers/
data/products/
data/purchases/
data/stores/
data/spark/

# ========== DOCKER VOLUMES ==========
mongodb_data/
clickhouse-data/
kafka-data/
zookeeper-data/
zookeeper-log/
grafana_data/
postgres-db-volume/

# ========== AIRFLOW ==========
airflow.cfg
airflow.db



